<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>ACCICARE - Dashboard</title>

<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">

<link rel="stylesheet" href="/static/assets/css/feathericon.min.css">

<link rel="stylesheet" href="/static/assets/plugins/morris/morris.css">

<link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

<div class="main-wrapper">

<div class="header">

<div class="header-left">
<a href="index.html" class="logo">
<img src="/static/assets/img/logo.png" alt="Logo">
</a>
<a href="index.html" class="logo logo-small">
<img src="/static/assets/img/logo-small.png" alt="Logo" width="30" height="30">
</a>
</div>







<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
</li>
<li class="active">
<a href=""><i class="fe fe-home"></i> <span>Dashbord</span></a>
</li>



<li>
	<a href="/signin"><i class="fe fe-file"></i> <span>Logout</span></a>
</li>
<li>
</ul>
</div>
</div>
</div>


<div class="page-wrapper">
<div class="content container-fluid">
<div class="row">
	<h3>Welcome to Accicare,</h3>
</div>
<div class="col-xl-4 col-sm-4 col-12">
<div class="card">
<div class="card-body">
<div class="dash-widget-header">

You are logged in as {{email}}
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 d-flex">

<div class="card card-table flex-fill">
<div class="card-header">
    <h4 class="card-title float-start">Accidents</h4>

</div>
	
<div class="card-body">
<div class="table-responsive no-radius">
<table class="table table-hover table-center">
<thead>
<tr>
<th>Accident Id</th>
<th>Accident Location</th>

<th class="text-end">Status</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-nowrap">
<div class="font-weight-600">001</div>
</td>
<td class="text-nowrap"><a href="{{username}}">Click</a></td>


<td class="text-end">
<div class="font-weight-600 text-danger"><button class="w3-button w3-green w3-border w3-border-red w3-round-large">Accept</button></div>
</td>
<td><button class="w3-button w3-red w3-border w3-border-red w3-round-large">Decline</button></td>
</tr>

</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
</div>
</div>

</div>


<script src="/static/assets/js/jquery-3.6.0.min.js"></script>

<script src="/static/assets/js/bootstrap.bundle.min.js"></script>

<script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/static/assets/js/script.js"></script>
</body>
</html>